{% extends "base.html" %}

{% block title %}FastConvert - FAQ{% endblock %}

{% block content %}
<main>
    <section class="banner flexbox">
        {% load static %}
        <img class="img-banner" src="{% static 'images/faq.avif' %}" alt="Banner de la Página">
        <h1 class="title-banner">Preguntas y Respuestas</h1>
        <span class="paragraph-banner">En esta sección podrás encontrar respuestas a las dudas más comunes que surgen sobre el uso de nuestra plataforma. </span>
    </section>
    <section class="flexbox sec-faq-p">
        <div class="flexbox sec-faq">
            <aside class="info-sec-faq">
                <h2 class="title-sec-faq">
                    Preguntas Frecuentes
                </h2>
                <p class="paragraph-sec-faq">En esta sección de Preguntas Frecuentes, podrás encontrar respuestas a las dudas más comunes sobre nuestros servicios.</p>
                <img src="{% static 'images/img-faq.avif' %}" alt="Imagen de la sección" class="img-sec-faq">
            </aside>
            <article class="faqs">
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
                <div class="faq-1">
                    <button class="faq">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert permite convertir videos y audios de YouTube a formatos MP3 y MP4 de manera rápida y sencilla. Solo necesitas ingresar la URL del video que deseas convertir, seleccionar el formato y hacer clic en "Descargar".
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>
{% endblock %}