{% extends "base.html" %}

{% block title %}FastConvert - FAQ{% endblock %}

{% block content %}
<main>
    <section class="banner flexbox">
        {% load static %}
        <img class="img-banner" src="{% static 'images/faq.avif' %}" alt="Banner de la Página">
        <h1 class="title-banner">Preguntas y Respuestas</h1>
        <span class="paragraph-banner">En esta sección podrás encontrar respuestas a las dudas más comunes que surgen sobre el uso de nuestra plataforma. </span>
    </section>
    <section class="flexbox sec-faq-p">
        <div class="flexbox sec-faq">
            <aside class="info-sec-faq">
                <h2 class="title-sec-faq">
                    Preguntas Frecuentes
                </h2>
                <p class="paragraph-sec-faq">En esta sección de Preguntas Frecuentes, podrás encontrar respuestas a las dudas más comunes sobre nuestros servicios.</p>
                <img src="{% static 'images/img-faq.avif' %}" alt="Imagen de la sección" class="img-sec-faq">
            </aside>
            <article class="faqs">
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Qué es FastConvert?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            FastConvert transforma tus videos y audios favoritos de YouTube en archivos MP3 o MP4 en cuestión de segundos.
                        </p>
                    </div>
                </div>
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Cómo funciona?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            Simplemente copia el enlace del video o audio que deseas convertir, pégalo en FastConvert, elige el formato deseado y en pocos instantes podrás descargar tu archivo.
                        </p>
                    </div>
                </div>
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Tengo que registrarme?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            No, FastConvert no requiere registro ni creación de cuentas. Puedes usar el servicio de manera libre y anónima siempre que lo necesites.
                        </p>
                    </div>
                </div>
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Puedo usar FastConvert en dispositivos móviles?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            Sí, FastConvert está optimizado para funcionar perfectamente en teléfonos móviles y tablets, permitiéndote convertir y descargar directamente desde tu dispositivo.
                        </p>
                    </div>
                </div>
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Dónde encuentro el archivo una vez que la descarga se haya completado?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            Generalmente, los archivos descargados se almacenan en la carpeta de "Descargas" de tu dispositivo. Puedes acceder a ellos desde tu explorador de archivos o directamente desde tu navegador.
                        </p>
                    </div>
                </div>
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">¿Las descargas son anónimas?</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            Sí, respetamos tu privacidad. No guardamos registros de tus conversiones ni solicitamos datos personales para que puedas descargar de forma segura y anónima.
                        </p>
                    </div>
                </div>
                <div class="fac-cont">
                    <button class="faq" onclick="toggleDetails(this)">
                        <div class="details-display flexbox">
                            <h3 class="title-faq">Tengo un error o quiero informar de una mejora</h3>
                            <ion-icon name="chevron-down-outline"></ion-icon>
                        </div>
                    </button>
                    <div class="details">
                        <p class="paragraph-faq">
                            Si encuentras un error o tienes una sugerencia, no dudes en ponerte en contacto con nosotros a través de nuestra página de contacto haciendo <a href="{% url 'aboutme' %}">click aquí</a>.
                        </p>
                    </div>
                </div>
            </article>            
        </div>
    </section>
</main>
<script>
function toggleDetails(button) {
    const details = button.nextElementSibling; // Encuentra el div .details que sigue al botón

    if (details.style.display === "none" || !details.style.display) {
        details.style.display = "block";
        details.classList.add("open");
    } else {
        details.classList.remove("open");
        details.style.display = "none";
    }
}
</script>
{% endblock %}