{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FastConvert{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="body">
    <header class="header">
        <nav class="nav flexbox">
            <div class="title flexbox">
                {% load static %}
                <img class="logo" src="{% static 'images/fast-video-converter-free-logo.avif' %}" alt="Logo de la Página">
                <span class="title-header">FastConvert</span>
            </div>
            <ul class="list flexbox gap-2">
                <li>
                    <a href="{% url 'index' %}" class="link">Página de Inicio</a>
                </li>
                <li>
                    <a href="{% url 'faq' %}" class="link">FAQ</a>
                </li>
                <li>
                    <a href="{% url 'aboutme' %}" class="link">Acerca de Mi</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer flexbox">
        <div class="footer-conteiner flexbox">
            <div class="footer-title">
                <h2>FastConvert</h2>
            </div>
            <nav class="footer-nav">
                <ul class="list">
                    <li>
                        <a href="{% url 'index' %}" class="link footer-link">Página de Inicio</a>
                        <br><br>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}" class="link footer-link">FAQ</a>
                        <br><br>
                    </li>
                    <li>
                        <a href="{% url 'aboutme' %}" class="link footer-link">Acerca de Mi</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
