@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=AR+One+Sans:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
}
:root{
    --size: 0.25rem;
    --black-color: #090909;
    --shadow-color: #09090960;
    --second-color: #D9D9D9;
    --third-color: #221F1F;
    --text-white: #ffffff;
    --form-input: var(--second-color);
    --text-input: #00000050;
    --select-form: #1078B8;
    --sumbit-form: #E23F3F;
    --footer-color: var(--third-color);
    --details-bottom: var(--second-color);
}
.header{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: calc(var(--size)*15);
    background-color: var(--shadow-color);
    align-content: center;
}
.nav{
    justify-content: space-around;
}
.flexbox{
    display: flex;
}
.title-header{
    font-size: 24px;
    color: var(--text-white);
}
.title{
    align-items: center;
}
.logo{
    width:calc(var(--size)*12) ;
    height:calc(var(--size)*12) ;
}
.list{
    align-items: center;
    list-style: none;
    gap: calc(var(--size)*6);
}
.link{
    color: var(--text-white);
    text-decoration: none;
    font-size: 14px;
}
.banner{
    flex-direction: column;
    gap: calc(var(--size)*10);
    position: relative;
    height: calc(var(--size)*149);
    place-content: center;
    place-items: center;
    color: var(--text-white);
}
.img-banner{
    top: 0;
    left: 0;
    position: absolute;
    height:100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    z-index: -1;
}
.title-banner{
    font-size: 64px;
    text-align: center;
}
.paragraph-banner{
    text-align: center;
    width: 90%;
    max-width: calc(var(--size)*140);
    margin-bottom: calc(var(--size)*5);
}
/*Formulario de Envio URL*/
.sec-form{
    width: 90%;
    max-width: calc(var(--size)*300);
}
.form{
    width: 100%;
    justify-content: center;
}
.search {
    position: relative;
    width: calc(var(--size)*150);
    align-items: center;
    display: flex;
}
.icono {
    position: absolute;
    left: calc(var(--size)*1.5);
    font-size: calc(var(--size)*5);
    color: var(--text-input);
    pointer-events: none;
}
.input-form {
    width: 100%;
    height: calc(var(--size)*10);
    background-color: var(--form-input);
    color: var(--text-input);
    border: none;
    padding-left: calc(var(--size)*8); 
    border-radius: 10px 0 0 10px ;
}
.select-form{
    width: calc(var(--size)*25);
    background-color: var(--select-form);
    color: var(--text-white);
    user-select: none;
}
.option-form{
    background-color: var(--form-input);
    color: var(--black-color);
}
.button-form{
    width: calc(var(--size)*35);
    background-color: var(--sumbit-form);
    color: var(--text-white);
    border: none;
    cursor: pointer;
}
/* Modal */
.modal {
    position: fixed;
    justify-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: calc(var(--size)*5);
    border-radius: calc(var(--size)*2.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: calc(var(--size)*110);
    z-index: 10;
}
.modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-header {
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-bottom: calc(var(--size)*4);
}
.modal-title{
    margin: 0;
    margin-left: calc(var(--size)*5);
    text-align: center;
    flex-grow: 1;
}
.modal-close {
    position: relative;
    background: none;
    align-items: center;
    font-size: calc(var(--size)*6);
    margin-left: auto;
    border: none;
    cursor: pointer;
}
.modal-img{
    width: calc(var(--size)*30);
    height: calc(var(--size)*30);
    object-fit: cover;
    margin-bottom: calc(var(--size)*4);
}
.modal-content {
    justify-content: center;
    align-items: center;
    width: 70%;
}
.modal-paragraph{
    text-align: center;
}
/* Advantages */
.advantages{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--size)*10) ;
}
.title-advantages{
    height: calc(var(--size)*35);
    align-content: center;
    text-align: center;
    font-size: calc(var(--size)*10);
}
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
}
.advantage {
    flex-direction: column;
    align-items: center;
    width: calc(var(--size)*70);
}
.title-advantage{
    text-align: center;
    width: calc(var(--size)*60);
    margin-bottom: calc(var(--size)*8);
    font-size: 22px;
}
.img-advantage{
    height: calc(var(--size)*40);
    width: calc(var(--size)*40);
    object-fit: cover;
    margin-bottom: calc(var(--size)*8);
}
.paragraph-advantage{
    text-align: center;
    margin-bottom: calc(var(--size)*8);
}
/*Faq*/
.sec-faq-p{
    justify-content:center;
    margin-top: calc(var(--size)*5);
}
.sec-faq{
    width: 100%;
    min-height: calc(var(--size)*150);
    justify-content: center;
    margin-top: calc(var(--size)*10);
    flex-wrap: wrap;
    gap: calc(var(--size)*10);
}
.info-sec-faq{
    justify-items: center;
    width:80%;
    max-width: calc(var(--size)*100);
}
.title-sec-faq{
    text-align: center;
    font-size: calc(var(--size)*7);
    margin-bottom: calc(var(--size)*5);
}
.paragraph-sec-faq{
    text-align: center;
    width: 100%;
    margin-bottom: calc(var(--size)*5);
}
.img-sec-faq{
    width: calc(var(--size)*70);
    height: calc(var(--size)*100);
    object-fit: cover;
    margin-bottom: calc(var(--size)*5);
}
.faqs{
    width: 80%;
    flex-direction: column;
    max-width: calc(var(--size)*150);
}
.faq{
    width: 100%;
    height: calc(var(--size)*10);
    border: none;
    background-color: transparent;
    padding-right: calc(var(--size)*5);
    border-radius: 5px;
    margin-bottom: calc(var(--size)*5);
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.details{
    width: 100%;
    display: none;
    margin-bottom: calc(var(--size)*5);
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}
.chevron-down-outline{
    font-size: calc(var(--size)*5);
    color: var(--text-white);
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);
}
.details-display{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--second-color);
    cursor: pointer;
}
.details.open {
    display: block;
    height: auto;
}
.title-faq{
    font-size: calc(var(--size)*4);
    padding-bottom: calc(var(--size)*2);
    text-align: left;
    width: 100%;
}
.paragraph-faq{
}
/*About Me*/
.sec-abo-p{
    justify-content:center;
    margin-top: calc(var(--size)*5);
    margin-bottom: calc(var(--size)*5);
}
.sec-abo{
    width: 85%;
    max-width: calc(var(--size)*260);
    border-radius: calc(var(--size)*2.5);
    padding: calc(var(--size)*5);
    justify-content: center;
    gap: calc(var(--size)*10);
    flex-wrap: wrap-reverse;
}
.info-abo{
    flex-direction: column;
    margin-top: calc(var(--size)*2);
    width: calc(var(--size)*130);
    gap: calc(var(--size)*5);
}
.title-sec-abo{
    text-align: center;
    font-size: calc(var(--size)*7);
}
.img-sec-abo{
    border-radius: calc(var(--size)*2.5);
}
.photo{
    border-radius: calc(var(--size)*2.5);
}
/*Footer*/
.footer{
    height:calc(var(--size)*50);
    background-color: var(--footer-color);
}
.footer-conteiner{
    margin-top: calc(var(--size)*10);
    justify-content: space-around;
    width: 100%;
}
.footer-title{
    margin-right:calc(var(--size)*30);
    font-size: 20px;
    color:var(--text-white)
}
.footer-nav{
    height: 100%;
}
.footer-link{
    font-size: 16px;
    gap:calc(var(--size)*5);
}